<div id="flags">
    <button data-toggle="tooltip" data-placement="bottom" title="Norsk" v-on:click="changeLang('no')"><img class="flag" src="~/Images/flag-nob.png" /></button>
    <button data-toggle="tooltip" data-placement="bottom" title="English" v-on:click="changeLang('en')"><img class="flag" src="~/Images/flag-en.png" /></button>
    <button data-toggle="tooltip" data-placement="bottom" title="عربي" v-on:click="changeLang('ar')"><img class="flag" src="~/Images/flag-ar.png" /></button>
    <button data-toggle="tooltip" data-placement="bottom" title="Swedish" v-on:click="changeLang('sw')"><img class="flag" src="~/Images/Flags/SE.png" /></button>
    <button data-toggle="tooltip" data-placement="bottom" title="German" v-on:click="changeLang('ge')"><img class="flag" src="~/Images/Flags/DE.png" /></button>
</div>

