


<div id="language-modal" class="un-select text-center" dir="rtl">
     <div class="text-center" id="language-modal-body">
          
          <div><img src="~/Images/MatterixLogoSmall.png" class="mb-3" width="150" height="auto"/></div>
          
          <div class="font-cairo matterix-color">اللغة &nbsp;&nbsp;|&nbsp;&nbsp; Språk &nbsp;&nbsp;|&nbsp;&nbsp; Language</div>
          <div class="font-cairo matterix-color mt-3 mb-4 text-muted text-0-8">اختر لغتك الأم &nbsp;&nbsp;-&nbsp;&nbsp; Velg morsmålet ditt &nbsp;&nbsp;-&nbsp;&nbsp; Choose your native language</div>

          <table class="text-center m-auto font-cairo">
               <tr>
                    <td class="p-3 matterix-link set-language" v-on:click="changeLang('ar', true)">
                         <div class="mb-2"><img class="flag lang" src="~/Images/flag-ar.png"/></div>
                         <div>عربي</div></td>
                    <td class="p-3 matterix-link set-language" v-on:click="changeLang('en', true)">
                         <div class="mb-2"><img class="flag lang" src="~/Images/flag-en.png"/></div>
                         <div>English</div></td>
                    <td class="p-3 matterix-link set-language" v-on:click="changeLang('no', true)">
                         <div class="mb-2"><img class="flag lang" src="~/Images/flag-nob.png"/></div>
                         <div>Norsk</div></td>
               </tr>
          </table>
     </div>
     <br/>
</div>