<div class="stars-container rating-stars star-pointer un-select">
    <ul class="stars">
        <li class="star" data-toggle="tooltip" data-placement="top" v-bind:title="$t('message.poor')" data-value="1">
            <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star" data-toggle="tooltip" data-placement="top" v-bind:title="$t('message.fair')" data-value="2">
            <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star" data-toggle="tooltip" data-placement="top" v-bind:title="$t('message.good')" data-value="3">
            <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star" data-toggle="tooltip" data-placement="top" v-bind:title="$t('message.excellent')" data-value="4">
            <i class="fa fa-star fa-fw"></i>
        </li>
        <li class="star" data-toggle="tooltip" data-placement="top" v-bind:title="$t('message.wow')" data-value="5">
            <i class="fa fa-star fa-fw"></i>
        </li>
    </ul>
</div>