


<div id="wait-modal" class="un-select">
     <div class="text-center direction"><img class="text-center" src="~/Images/Spinner.svg"/> <span class="display-4 matterix-color title-1-5">{{$t('message.isLoading')}} ...</span> </div>
     <br/>
</div>