
@{
    ViewBag.Title = "How to start";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/instructions.css"/>

<div class="text-center un-select">
    <div class="title-2-5 matterix-color display-4">{{$t('message.instructionsAndHelp')}}</div>
    <br/>
    <div style="font-size: 4rem;"><i class="fas fa-rocket matterix-color"></i></div>
    <div class="title-1-5 display-4">من أين أبدأ</div>
    <hr class="w-75 matterix-background"/>
</div>




<div class="text-right" style="direction: rtl">
    <div class="text-justify un-select">
    <br/>
    <p class="matterix-color sec-title"><strong>قم بتسجيل حساب جديد أو سجل دخولك</strong></p>


    <ul>
        <li >
            <p>الخطوة الأولى عند دخولك لأول مرة إلى هذا الموقع هي إنشاء حساب جديد، عن طريق الضغط على القائمة من الأعلى ثم اختيار إنشاء حساب جديد</p>
        </li>

        <li>
            <p>لكن انتظر حتى تقوم بقراءة التعليمات في هذه الصفحة أولاً</p>
        </li>
        <li>
            <p>عند تسجيل أي حساب جديد، يجب أن لا يكون لديك حساب في الموقع مسبقاً.. ويجب أن تقدم معلومات صحيحة</p>
        </li>
        <li>
            <p>بعد تسجيل الحساب، سيصلك بريد الكتروني، قم بالضغط على الرابط فيه لتؤكد بريدك، إذا لم تجد البريد قم بتفحص علبة البريد غير الهام</p>
        </li>
        
    </ul>


    

    <p>إذا كان لديك حساب بالفعل في هذا الموقع، يجب عليك إذاً تسجيل الدخول وليس إنشاء حساب جديد</p>


</div>

<div class="text-justify un-select">
    <hr/>
    <br/>
    <p class="matterix-color sec-title"><strong>البحث عن دورات والتسجيل بها</strong></p>


    <ul>
        <li >
            <p>تجد جميع الدورات الموجودة لدينا في الصفحة الرئيسية، بالتمرير للأسفل قليلاً.. أو اضغط في الأعلى على كلمة بحث لتقوم بتصفح الدورات</p>
        </li>

        <li>
            <p>عندما تجد المادة التي تريدها اضغط على زر عرض على الدورة نفسها</p>
        </li>
        <li>
            <p>ستظهر معلومات خاصة بالدورة، كالتوقيت والسعر وباقي تفاصيلها</p>
        </li>
        <li>
            <p>في الأسفل قليلاً في صفحة الدورة ستجد قائمة تحوي المحاضرات ومعلومات إضافية عن الدورة</p>
        </li>
        <li>
            <p>المحاضرات المحددة باللون الأخضر هي محاضرات مجانية كنموذج عن الدورة، يمكنك مشاهدتها قبل التسجيل في الدورة</p>
        </li>
        <li>
            <p>إذا لم تعمل فيديوهات النماذج قم باستخدام الموقع من كمبيوتر باستخدام متصفح فايرفوكس</p>
        </li>
        <li>
            <p>من أجل التسجيل في الدورة، يمكنك الضغط على زر تسجيل على الدورة نفسها، واتباع التعليمات الموجودة في قسم التسجيل</p>
        </li>
        
        <li>
            <p>بعد التسجيل في الدورة ستظهر تعليمات خاصة بالدخول إلى قاعات المحاضرات (هذه التعليمات موجودة أيضاً في قسم مساعدة في الأعلى).. قم بقراءة هذه التعليمات بعناية</p>
        </li>

    </ul>

</div>

<div class="text-justify un-select">
    <hr/>
    <br/>
    <p class="matterix-color sec-title"><strong>الدورات المباشرة والدورات المكتملة (المسجلة)</strong></p>


    <ul>
        <li >
            <p>الدورات المباشرة هي الدورات التي تُعطى مباشر في الفصل الحالي</p>
        </li>

        <li>
            <p>نقوم بتسجيل جميع محاضرات الدورات، لتستطيع مشاهدتها ومراجعتها متى أردت خلال فترة تسجيلك</p>
        </li>
        <li>
            <p>خلال الدورات المباشرة يمكنك توجيه الأسئلة إلى المدرس داخل قاعة المحاضرات</p>
        </li>
        <li>
            <p>عندما تنتهي الدورة تصبح مكتملة أو مسجلة</p>
        </li>
        <li>
            <p>مازال يمكنك التسجيل في الدورات المكتملة، ولن تكون مباشرة في هذه الحالة، بل تستطيع مشاهدة المحاضرات الخاصة بها على وقتك</p>
        </li>
        <li>
            <p>في حالة الدورات المكتملة لن تتمكن من توجيه الأسئلة إلى مدرسين المادة</p>
        </li>


    </ul>

</div>

<div class="text-justify un-select">
    <hr/>
    <br/>
    <p class="matterix-color sec-title"><strong>بعد التسجيل في دورة معينة</strong></p>


    <ul>
        <li >
            <p>سيصلك بريد الكتروني لتأكيد عملية التسجيل والدفع، إذا لم يصلك خلال دقائق قم بالتحقق من صندوق بريد غير هام في بريدك الالكتروني</p>
        </li>

        <li>
            <p>ستظهر الدورة في قسم (دوراتي)، وتصبح جميع موارد الدورة متاحة لك</p>
        </li>
        
        <li>
            <p>يمكنك في أي وقت بعد التسجيل الضغط على القائمة في الأعلى والذهاب إلى قسم (الفواتير وإيصالات الدفع) للتحقق من فواتيرك أو طباعة إيصالات دفعاتك</p>
        </li>
        
        <li>
            <p>في حالة اختيارك الدفع بالتقسيط عند التسجيل، يرجى تذكر تاريخ استحقاق فواتيرك ودفعها بانتظام لتجنب رسوم الزيادة والفوائد</p>
        </li>
        
        <li>
            <p>قم بالتحقق من موعد بداية الدورة ومواعيد المحاضرات</p>
        </li>
        <li>
            <p>ستحصل على تذكير 30 دقيقة قبل بداية كل محاضرة على البريد الالكتروني ورسائل الهاتف في حالة الدورات المباشرة</p>
        </li>
        
        <li>
            <p>ستحصل أيضاً على إشعارات على البريد الالكتروني في حال قام مدرّس المادة بإضافة وظيفة جديدة أو تصحيح وظيفتك</p>
        </li>
        
        <li>
            <p>إذا فاتتك محاضرة معينة، ستجد الفيديو الخاص بها بعد 24 ساعة من انتهائها في صفحة الدورة</p>
        </li>
        
        <li>
            <p>في حال لم تعمل فيديوهات المحاضرات المسجلة يرجى استخدام الموقع من كمبيوتر من متصفح فايرفوكس</p>
        </li>


    </ul>

</div>
</div>






@section Scripts
{
    <script src="https://kit.fontawesome.com/331f4f953b.js" crossorigin="anonymous"></script>
}
