@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="direction">
    <div class="display-4 title-2-0 direction matterix-color">{{$t('message.manageYourAccount')}}</div>

    <div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }
</div>
