@using Microsoft.EntityFrameworkCore.Internal
@model IEnumerable<CourseRating>

@if (!Model.Any())
{
    <div class="text-center">This user has no ratings yet!</div>
}
else
{
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Course</th>
            <th>Value</th>
        </tr>
        </thead>
        @foreach (var rating in Model)
        {
            <tr>
                <td>@rating.Course.Subject<span class="small"> / @rating.Course.Code</span></td>
                <td>@rating.Rating</td>
            </tr>

        }



    </table>
    
}


