@using Matterix.Services
@model Matterix.Models.ViewModel.PaymentResultViewModel
<div class="text-center un-select">
    <div>
        <img src="~/Images/failure.png" width="200rem"/>
    </div>
    <br/>
    <div class="display-4 title-2-0"><strong>{{$t('message.paymentFailed')}}</strong></div>
    <br/>
        <div class="text-danger">@Format.Translate(Model.message)</div>
    <br/>
    <div>{{$t('message.thisUsuallyHappened')}}</div>
    <br/>
    <button class="btn btn-primary" onclick="location.href = ('@Url.Action("ContactUs", "Home")')">{{$t('message.contactUs')}}</button>
</div>
