@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="direction matterix-color font-cairo title-2-0 text-center un-select">{{$t('message.resetPassword')}}</div>
<hr class="w-75 matterix-background"/>

<div class="row direction text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div><img src="~/Images/done.png" width="70rem"/></div>
        <br/>
        <p class="title-1-5 text-center font-cairo">{{$t('message.anEmailSentToYou')}}</p>
        <p class="text-0-7 text-center text-secondary mb-3">{{$t('message.ifDidNotReceiveCheckSpam')}}</p>
        
    </div>
    <div class="col-md-3"></div>
    
</div>
<div class="text-center mt-4">
    <a asp-action="Index" asp-controller="Home" class="m-button m-button-primary mt-5 text-center m-auto">{{$t('message.backHomePage')}}</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            //ToDo :: Check if the email not exists, do not send the notification

            //Give some time while the token is created and the notification is saved to the database
            setTimeout(function() {
                RevokeNotifications("Email", true);
            }, 3000);

        })
    </script>
}