@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="direction matterix-color display-4 title-2-5 text-center un-select">{{$t('message.forgotYourPassword')}}</div>
<hr class="w-75 matterix-background"/>

<div class="row direction text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="title-1-5 display-4 text-center">{{$t('message.pleaseEnterYourEmail')}}</div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" v-bind:placeholder="$t('message.email')"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
