@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}


<div class="text-center direction un-select col-lg-8 p-0" style="border: 0.01rem solid dimgray; border-radius: 0.1rem; background-color: white; margin: auto auto 7rem auto;">

     <div class="row">
         <div class="col-sm-7 p-5">

             <div class="section" id="reset-password-section">
                 
                 @* TITLE *@
                 <div class=" direction text-center">
                     <div class="display-4 title-1-5 matterix-color font-cairo mt-4 mb-4">{{$t('message.changePassword')}}</div>
                 </div>
                 <br/>
                 
                 @* MAIN login FORM *@
                 <form id="reset-form" method="post">
                     @* USER DEVICE SECTION :: TODO:: To be changed later and set as global maybe *@
                     <input asp-for="Input.Ip" hidden="hidden" id="ip"/>
                     <input asp-for="Input.DeviceType" hidden="hidden" id="deviceType"/>
                     <input asp-for="Input.OperatingSystem" hidden="hidden" id="operatingSystem"/>
                     <input asp-for="Input.AuthCookies" hidden="hidden" id="authCookies"/>
                     
                     <input asp-for="Input.Code" type="hidden"/>
                     <input hidden asp-for="Input.Email"/>



                     <div class="row">
                         <div class="col-md-2"></div>
                         <div class="col-md-8">
                             <div class="matterix-input-container set-my-direction">
                                 <input class="matterix-input un-select" disabled="disabled" type="text" value="@Model.Input.Email" required title=""/>
                                 <label class="matterix-input-label">
                                     <span class="matterix-input-content"><i class="fas fa-envelope"></i>&nbsp;&nbsp;{{$t('message.email')}}</span>
                                 </label>
                             </div>
                         </div>
                         <div class="col-md-2"></div>
                     </div>

                     <div class="row">
                         <div class="col-md-2"></div>
                         <div class="col-md-8">
                             <div class="matterix-input-container set-my-direction">
                                 <input class="matterix-input" asp-for="Input.Password" required title="" autofocus="focus"/>
                                 <label class="matterix-input-label">
                                     <span class="matterix-input-content"><i class="fas fa-key set-my-direction icon-direction"></i>&nbsp;&nbsp;{{$t('message.newPassword')}}</span>
                                 </label>
                             </div>
                         </div>
                         <div class="col-md-2"></div>

                     </div>
                     
                     <div class="row">
                         <div class="col-md-2"></div>
                         <div class="col-md-8">
                             <div class="matterix-input-container set-my-direction">
                                 <input class="matterix-input" asp-for="Input.ConfirmPassword" required title=""/>
                                 <label class="matterix-input-label">
                                     <span class="matterix-input-content"><i class="fas fa-redo-alt set-my-direction icon-direction-reserve"></i>&nbsp;&nbsp;{{$t('message.confirmPassword')}}</span>
                                 </label>
                             </div>
                         </div>
                         <div class="col-md-2"></div>

                     </div>

                     



                     @*VALIDATION AREA*@
                     <div id="reset-password-validation" style="color: red" class="text-center text-0-7 font-cairo mt-4"></div>
                     <div asp-validation-summary="All" style="color: red"></div>



                     <div class="mt-5 mb-4 d-flex align-items-center" style="position: relative; bottom: 0">
                         <a id="update-password" class="m-button m-button-primary text-center m-auto change-section" target="complete">{{$t('message.confirm')}}</a>
                     </div>


                 </form>
             </div>
             
             
             @* RESPONSE SECTION *@
             <div class="section" id="reset-confirmed-section" style="display: none">
                 
                 @* TITLE *@
                 <div class=" direction text-center">
                     <div class="title-1-5 matterix-color font-cairo mt-4 mb-2">{{$t('message.changePassword')}}</div>
                 </div>
                 <br/>
                 
                 
                 <div><img src="~/Images/done.png" width="70rem"/></div>
                 <div class="title-1-0 text-secondary font-cairo text-center mt-3">{{$t('message.passwordChanged')}} </div>
                 
                 
                 <div class="mt-5 mb-4 d-flex align-items-center" style="position: relative; bottom: 0">
                     <a asp-area="Identity" asp-page="/Account/Login" class="m-button m-button-primary text-center m-auto">{{$t('message.clickHereToLogin')}}</a>
                 </div>
             </div>
             

         </div>
         
         
         

         <div class="col-sm-5">
             <img src="~/Images/Covers/PasswordReset.jpg" width="100%" height="100%" style="object-fit: cover; min-height: 580px;"/>
         </div>

     </div>

</div>














@* <div class="direction matterix-color display-4 title-2-5 text-center un-select">{{$t('message.changePassword')}}</div> *@
@* <hr class="w-75 matterix-background"/> *@
@* <div class="row"> *@
@*     <div class="col-md-4"></div> *@
@*     <div class="col-md-4 direction un-select"> *@
@*         <form id="reset-form" method="post"> *@
@*             <div asp-validation-summary="All" class="text-danger"></div> *@
@*             <input asp-for="Input.Code" type="hidden"/> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Input.Email">{{$t('message.email')}}</label> *@
@*                 <input asp-for="Input.Email" class="form-control" v-bind:placeholder="$t('message.email')"/> *@
@*                 <span asp-validation-for="Input.Email" class="text-danger"></span> *@
@*                 <span class="text-danger" id="email-validation"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Input.Password">{{$t('message.password')}}</label> *@
@*                 <input asp-for="Input.Password" class="form-control" v-bind:placeholder="$t('message.newPassword')"/> *@
@*                 <span asp-validation-for="Input.Password" class="text-danger"></span> *@
@*                 <span class="text-danger" id="password-validation"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Input.ConfirmPassword">{{$t('message.confirmPassword')}}</label> *@
@*                 <input asp-for="Input.ConfirmPassword" class="form-control" v-bind:placeholder="$t('message.confirmPassword')" /> *@
@*                 <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span> *@
@*                 <span class="text-danger" id="no-match-validation">@Html.ValidationMessage("noMatch")</span> *@
@*             </div> *@
@*             <button type="button" id="update-password" class="btn btn-primary">{{$t('message.reset')}}</button> *@
@*              *@
@*             <input asp-for="Input.Ip" hidden="hidden" id="ip"/> *@
@*             <input asp-for="Input.DeviceType" hidden="hidden" id="deviceType"/> *@
@*             <input asp-for="Input.OperatingSystem" hidden="hidden" id="operatingSystem"/> *@
@*             <input asp-for="Input.AuthCookies" hidden="hidden" id="authCookies"/> *@
@*         </form> *@
@*     </div> *@
@* </div> *@

@section Scripts {
    <script src="~/js/Validation.js" asp-append-version="true"></script>
    <script src="~/js/UserDeviceInfo.js" asp-append-version="true"></script>
    <script src="~/js/IdentityArea/ResetPassword.js" asp-append-version="true"></script>
}
