@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="direction matterix-color display-4 title-2-5 text-center un-select">{{$t('message.resetPassword')}}</div>
<hr class="w-75 matterix-background"/>
<div class="row direction text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="title-1-5 display-4 text-center">{{$t('message.theProcessIsDone')}} </div>
        <br/>
        <div><img src="~/Images/done.png" width="200rem"/></div>
        <br/>
        <a asp-page="./Login">{{$t('message.clickHereToLogin')}}</a>
        
    </div>
    <div class="col-md-4"></div>
</div>



