<div class=" direction text-center font-cairo m-auto text-muted" style="height: 130px;">
    <div style="margin: 1rem auto"><img height="50" width="auto" src="~/Images/LogoHomePage.png"/></div>
    <div class="slide-show-container position-relative">
        
        

        <div order="1" in="true" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/internet.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.lecturesAreLiveOnline')}}</span>
        </div>

        <div order="2" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/teacher.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.viaProfessionalConference')}}</span>
        </div>

        <div order="3" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/question.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.youCanAskDirectly')}}</span>
        </div>

        <div order="4" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/clock.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.eveningsTimes')}}</span>
        </div>

        <div order="5" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/full.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.weCoverThe')}}</span>
        </div>

        <div order="6" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/book.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.accordingToNorwegian')}}</span>
        </div>

        <div order="7" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/record.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.lecturesAreRecordedInCase')}}</span>
        </div>

        <div order="8" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/microphone.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.educatingIsInArabic')}}</span>
        </div>

        <div order="9" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/check.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.solvingIntensively')}}</span>
        </div>

        <div order="10" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/increase.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.ourPreviousStudentsBetween')}}</span>
        </div>

        <div order="11" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/lightbulb.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.specializedTeachers')}}</span>
        </div>

        <div order="12" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/graduate.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.weQualifyYouToFollow')}}</span>
        </div>

        <div order="13" class="slide-element">
            <span class="align-self-center"><img width="20" src="~/Images/HomeIcons/wink.png"/></span>&nbsp;&nbsp;
            <span class="align-self-center">{{$t('message.welcomeToOurEducational')}}</span>
        </div>


    </div>
    
    
</div>
<div class="text-center font-cairo text-secondary">{{$t('message.since')}} 2017</div>
<hr/>





@* <table style="width: 100%; font-size: 0.9rem;" class="m-auto un-select text-center border-primary direction"> *@
@*     <tr> *@
@*         <td style="padding: 1.5rem 0; width: 33%;"> *@
@*             $1$ <div style="font-size: 4rem;"><i class="fab fa-internet-explorer matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="60" src="~/Images/HomeIcons/internet.png"/></div> *@
@*             <div>{{$t('message.lecturesAreLiveOnline')}}</div> *@
@*         </td> *@
@*         <td style="padding: 1.5rem 0; width: 33%; text-wrap:normal">  *@
@*             $1$ <div style="font-size: 4rem;"><i class="fas fa-chalkboard-teacher matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="70" src="~/Images/HomeIcons/teacher.png"/></div> *@
@*             <div>{{$t('message.viaProfessionalConference')}}</div> *@
@*         </td> *@
@*         <td style="padding: 1.5rem 0; width: 33%; text-wrap:normal"> *@
@*             $1$ <div style="font-size: 4rem;"><i class="fas fa-question-circle matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="63" src="~/Images/HomeIcons/question.png"/></div> *@
@*             <div>{{$t('message.youCanAskDirectly')}}</div> *@
@*         </td> *@
@*          *@
@*     </tr> *@
@* *@
@*      *@
@*     <tr> *@
@*         <td style="padding: 1.5rem 0; width: 33%; text-wrap:normal"> *@
@*             $1$ <div style="font-size: 4rem;"><i class="far fa-clock matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="65" src="~/Images/HomeIcons/clock.png"/></div> *@
@*             <div>{{$t('message.eveningsTimes')}}</div> *@
@*         </td> *@
@*         <td style="padding: 1.5rem 0; width: 33%; text-wrap:normal"> *@
@*             $1$ <div style="font-size: 4rem;"><i class="fas fa-battery-full matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="70" src="~/Images/HomeIcons/full.png"/></div> *@
@*             <div>{{$t('message.weCoverThe')}}</div> *@
@*         </td> *@
@*         <td style="padding: 1.5rem 0; width: 33%; text-wrap:normal"> *@
@*             $1$ <div style="font-size: 4rem;"><i class="fas fa-book-open matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="65" src="~/Images/HomeIcons/book.png"/></div> *@
@*             <div>{{$t('message.accordingToNorwegian')}}</div> *@
@*         </td> *@
@*          *@
@*     </tr> *@
@*      *@
@*      *@
@*     <tr> *@
@*         <td style="padding: 1.5rem 0; width: 33%; text-wrap:normal"> *@
@*             $1$ <div style="font-size: 4rem;"><i class="fas fa-video matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="60" src="~/Images/HomeIcons/record.png"/></div> *@
@*             <div>{{$t('message.lecturesAreRecordedInCase')}}</div> *@
@*         </td> *@
@*         <td style="padding: 1.5rem 0; width: 33%; text-wrap:normal"> *@
@*             $1$ <div style="font-size: 4rem;"><i class="fas fa-microphone-alt matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="50"  src="~/Images/HomeIcons/microphone.png"/></div> *@
@*             <div>{{$t('message.educatingIsInArabic')}}</div> *@
@*         </td> *@
@*         <td style="padding: 1.5rem 0; width: 33%; text-wrap:normal"> *@
@*             $1$ <div style="font-size: 4rem;"><i class="far fa-check-circle matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="65" src="~/Images/HomeIcons/check.png"/></div> *@
@*             <div>{{$t('message.solvingIntensively')}}</div> *@
@*         </td> *@
@*          *@
@*     </tr> *@
@*      *@
@*     <tr> *@
@*         <td style="padding: 1.5rem 0; width: 33%; text-wrap:normal"> *@
@*             $1$ <div style="font-size: 4rem;"><i class="fas fa-chart-line matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="65" src="~/Images/HomeIcons/increase.png"/></div> *@
@*             <div>{{$t('message.ourPreviousStudentsBetween')}}</div> *@
@*         </td> *@
@*         <td style="padding: 1.5rem 0; width: 33%; text-wrap:normal"> *@
@*             $1$ <div style="font-size: 4rem;"><i class="fas fa-lightbulb matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="50" src="~/Images/HomeIcons/lightbulb.png"/></div> *@
@*             <div>{{$t('message.specializedTeachers')}}</div> *@
@*         </td> *@
@*         <td style="padding: 1.5rem 0; width: 33%; text-wrap:normal"> *@
@*             $1$ <div style="font-size: 4rem;"><i class="fas fa-graduation-cap matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="60" src="~/Images/HomeIcons/graduate.png"/></div> *@
@*             <div>{{$t('message.weQualifyYouToFollow')}}</div> *@
@*         </td> *@
@*          *@
@*     </tr> *@
@*     <tr> *@
@*         <td colspan="3" style="padding: 1.5rem 0; width: 33%; text-wrap:normal"> *@
@*             $1$ <div style="font-size: 4rem;"><i class="far fa-laugh-wink matterix-color"></i></div> #1# *@
@*             <div style="font-size: 4rem;"><img style=" margin-bottom: 1rem;" width="75" src="~/Images/HomeIcons/wink.png"/></div> *@
@*             <div>{{$t('message.welcomeToOurEducational')}} | <a target="_blank" asp-controller="Instructions" asp-action="HowToStart"><span class="text-danger">{{$t('message.whereToStart')}}</span></a></div> *@
@*         </td> *@
@*     </tr> *@
@*      *@
@*      *@
@* </table> *@
@* *@
@* <hr/> *@